<%- include('../partials/header')  %> 
<h3>revamp your collection</h3>
    <form action='/collections/<%= collection._id %>?_method=PUT' method='POST'>
        <div>new name for collection:</div>
        <input name="name" value="<%= collection.name %>">
        <button type="submit" name="update">UPDATE</button>
    </form>
    <div>edit your cluster:</div>
    <ul><% collection.crystalsAdded.forEach(c => { %>
        <% if (collection.userId.equals(user._id)) { %>
        <form action='/collections/<%= collection._id %>/crystals/<%= c._id %>?_method=DELETE' method='POST'>
            <li><%= c.name %><button type='submit' value='<%= c._id %> '>x</button>
            <% } %>
         </li>
        <% }) %>
        </form>
    </ul>
    <div>delete entire collection:</div>
    <form action='/collections/<%= collection._id %>?_method=DELETE' method='POST'>
        <button type='submit' name='delete'>X</button>
    </form>

</body>
</html>