<%- include('../partials/header')  %> 
    <h2><%= collection.name %></h2>
    <div>CRYSTALS:</div>
    <ul><% collection.crystalsAdded.forEach(c => { %>
     <li><a href='/crystals/<%= c._id %>'><%= c.name %></a></li>
    <% }) %>
    </ul>
    <a href='/collections/<%= collection._id %>/edit'>edit your collection</a>
</body>
</html>