<%- include('../partials/header')  %> 
    <section id="show-page">
        <h2><%= title %></h2>
        <img src=<%= crystal.image %>>
        <h3><%= crystal.name %></h3>
        <br>
        <div><%= crystal.color %> </div>
        <div><%= crystal.description %></div>
  </section>
</body>
</html>