<%- include('../partials/header')  %> 
    <section id="show-page">
        <h2><%= title %></h2>
        <img src=<%= crystal.image %>>
        <h3><%= crystal.name %></h3>
        <br>
        <div><%= crystal.color %> </div>
        <div><%= crystal.usersAddedToCollection %></div>
        <div><%= crystal.description %></div>
    </section>   
    <form id="add-crys-to-coll" action="/crystals" method="POST">
         <select name="collectionId">
            <option value="fff">heloo</option>
            <option value="die"> whyyy</option>
        </select>
        <button type="submit">add to collection</button>
    </form>
</body>
</html>